In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("auto-mpg.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [6]:
df.shape

(398, 9)

In [7]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [9]:
X = df.iloc[:,[2,4]]
y = df.iloc[:,5]

In [10]:
X.head()

   displacement  weight
0         307.0    3504
1         350.0    3693
2         318.0    3436
3         304.0    3433
4         302.0    3449

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=40)

In [12]:
X_train.head()

     displacement  weight
256         225.0    3430
295          98.0    1915
100         250.0    3021
253         200.0    3155
369         112.0    2395

In [13]:
scaler = StandardScaler().fit(X_train)

In [15]:
scaler.mean_

array([ 193.29362416, 2978.66107383])

In [16]:
scaler.scale_

array([102.4388434 , 827.30502634])

In [17]:
X_train_scaled = scaler.transform(X_train)

In [20]:
X_train_scaled[0:5]

array([[ 0.30951517,  0.54555323],
       [-0.93024893, -1.28569396],
       [ 0.55356322,  0.05117692],
       [ 0.06546712,  0.21314862],
       [-0.79358202, -0.70549683]])

In [29]:
X_train_scaled.mean(axis=0)

-1.5498415377317621e-16

In [31]:
X_train_scaled.std(axis=0)

array([1., 1.])